<div class="customer-profile-link">
  {% if customer %}

    <a href="/account">
      <!-- need to find a way to associated customer photos to the  -->
      <img src="#" alt="{{ customer.first_name }}s avatar photo" height="30" width="30" />

      {{ customer.first_name }}
    </a>
    <!-- {{ 'Log out' | customer_logout_link }} -->

  {% else %}

    <span class="icon-safe"></span>

    {{ 'Log in' | customer_login_link }}

  {% endif %}
</div>
