<footer class="site-footer wrapper-10-col" role="contentinfo">

  <div class="first-column">
    {% include 'meta-menu' %}
  </div>

  <div class="last-column">
    {% include 'language-menu' %}
  </div>

</footer>
