<h1 class="header-logo">
  <a href="/">
    {{ 'theia-logo.svg' | asset_url | img_tag: shop.name, 'header-logo__img--svg' }}
    {{ 'theia-logo.png' | asset_url | img_tag: shop.name, 'header-logo__img--png' }}
  </a>
</h1>
