@import 'parts/vars';
@import 'parts/mixins';
@import 'parts/base';

/*============================================================================
  Override the default checkout styles. Delete the file or change its
  filename to revert to the default styles.
  ==============================================================================*/

/*================ #General ================*/

body, #main, #container, #header, #footer {
    background: #fff;
    text-shadow: none;
}

body {
    padding: 0;
    margin: 0;
}

*, input, :before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.vertical #container {
    width: auto !important;
    overflow: visible;
}

/*================ #Typography ================*/
body, input, textarea, button, select {
    font-size: 100%;
    font-family: $helveticaFontStack;
    color: #333;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

h2, h3, h4, h5, h6,
.h2, .h3, .h4, .h5, .h6 {
    display: block;
    font-family: $headerFontStack;
    font-weight: $headerFontWeight;
    margin: 0.5em 0;
    line-height: 1;

    a {
        text-decoration: none;
    }
}

/*================ #Layout ================*/

#container {
    max-width: 980px;
    margin: 0 auto;
    font-size: 100%;
    padding: 0 10px;
    width: auto;
}

#content, #footer, #header {
    padding: 0;
    width: auto;
}

#main {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

#content, #overview {
    float: right;
}

#content {
    width: 640px;
    padding-right: 19px;
    border-right: 1px solid $colorLightestGray;
    margin-right: 20px;
}

#overview {
    width: 280px;
    margin-left: 20px;
}

/*================ #Responsive Layouts ================*/
@include at-query( $max, $preLarge ){
    #container {
        max-width: 680px;
    }

    #content, #overview {
        float: none;
        width: 100%;
        padding: 0;
    }

    #content {
        border-right: 0;
    }
}

/*================ #Group and Email Containers ================*/
#email {
    margin: 0 0 20px;
    padding: 0 0 20px;
    line-height: 1.5em;
    border: none;
    background: none;
    border-bottom: 1px solid $colorLightestGray;

    input {
        margin-bottom: $gutter;
    }

    .sign-in-message {
        display: block;
        font-size: 14px;
        margin: 0;
    }

    #customer-login-link {
        @extend %small-gold-button;

        margin-left: 8px;
    }

    .active-customer {
        font-size: 26px;
        margin-top: $gutter;

        .sign-in-message {
            margin-top: 12px;
        }
    }

    @include at-query( $max, $small ){
        padding: 0 0 $gutter*2;
        
        label {
            background: transparent !important;
            font-weight: 300 !important;
            font-size: 25px !important;
            text-shadow: none;
            text-transform: none;
            border: 0;
            text-align: center;
            color: $colorWarmGrayDark;
            margin-bottom: $gutter !important;
        }

        input {
            margin: 0 !important;
        }

        .sign-in-message {
            margin: $gutter/2 0;
        }

        .active-customer {
            text-align: center;
        }
    }
}

.group {
    line-height: 1.5em;
    border: none;
    margin: 0 0 ($gutter * 3);
    padding: 0;
    background: white;

    h3 {
        font-size: 24px;
        font-weight: 400;
        margin: 0 0 $gutter 0;
        padding: 1px 0 0 0;
        color: $colorWarmGrayDark;
        border: 0;
        text-shadow: none;
    }

    p {
        color: $colorWarmGray;
        font-weight: 400;
    }

    @include at-query( $max, $small ){
        overflow: visible;

        h3 {
            padding: 0;
            line-height: 1;
            background: transparent !important;
            font-weight: 300 !important;
            font-size: 25px !important;
            text-shadow: none;
            text-transform: none;
            border: 0;
            text-align: center;
            color: $colorWarmGrayDark;
            margin-bottom: $gutter !important;
        }
    }
}

.pgroup h3,
#email label {
    font-weight: bold;
    font-size: 100%;
    margin: 0 0 8px;
    padding: 0;
}

/*================ #Secure Server Bar ================*/

#info-bar {
    display: none;
}

/*================ #Header ================*/

#header {
    padding: 0;
    h1 {
        padding: 0;
    }
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 20px;
}

#tagline .subtitle {
    display: none;
}

#logo {
    width: 100%;
    height: 72px;
    margin-bottom: $gutter * 4;
    /* background image defined in checkout.css.liquid */
    background-repeat: no-repeat;
    background-position: center bottom;
}

#tagline {
    display: none;
}

/*================ #Overview - right column widget ================*/

#overview {
    border: 1px solid $colorLightGray;
    background: white !important;
    margin: 0 0 20px 0;
    position: relative;
    overflow: hidden;
    height: 1%;
    padding: 70px 20px 20px;

    &:before {
        content: 'Order summary';
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background: $colorLightGray;
        font-family: $helveticaFontStack;
        font-size: 18px;
        line-height: 50px;
        padding-left: 20px;
        color: $colorWarmGray;
        text-shadow: none;
    }

    @include at-query($max, $small) {
        $overviewHeaderHeight: 42px;

        border-top: 1px solid $colorLightGray;
        border-bottom: 1px solid $colorLightGray;
        padding: ($overviewHeaderHeight + $gutter/2) $gutter $gutter/2;

        &:before {
            height: $overviewHeaderHeight;
            line-height: $overviewHeaderHeight;
        }
    }
}

/* "You're purchasing this.." text */

#products > h2 {
    display: none;
}

#overview #products {
    width: auto;
    float: none;
    border: none;
}

#wallet {
    margin: 0;
    width: 100%;
    text-align: center;

    @include at-query( $max, $small ){
        background: white !important;
        
        #cost {
            text-align: center;
        }

        #tax_span {
            text-align: center;
            margin-top: 8px;
        }
    }
}

#overview {
    #cost {
        font-family: $helveticaFontStack;
        font-weight: 300;
        font-size: 26px;
        line-height: 1.9;
        text-shadow: none;
        border-bottom: dotted 1px #ccc;
        color: $colorWarmGrayDark;
    }

    .hint {
        margin: 0 0 3px 0;
        display: block;
        font-size: 100%;
        color: $colorWarmLightGray;
        font-style: normal;
    }

    #steps {
        font-family: $helveticaFontStack;
        font-style: normal;
        margin: 0;
        padding: 0 0 8px 0;
        display: block;
        font-size: 22px;
        border-bottom: dotted 1px #ccc;
    }

    br {
        display: none;
    }

    @include at-query( $max, $small ){
        #steps {
            position: relative;
            width: auto;
            text-align: center;
            top: auto;
            left: auto;
        }
    }
}

#thumbs {
    position: relative;
    margin: 0;
    border-collapse: collapse;

    td {
        overflow: hidden;
        height: 1%;
        font-size: 100%;
        vertical-align: top;
        display: block;
        width: 100%;
        padding-bottom: 0;
    }

    div {
        overflow: hidden;
        border: 1px solid $colorLightestGray;
        margin: 0 16px 16px 0;
        padding: 0;
    }

    img {
        display: block;
        margin: 0 auto;
        width: 100%;
    }

    h3 {
        font-size: 16px;
        font-weight: 700;
        line-height: 26px;
        @include overflowEllipsis();
    }

    span {
        font-size: 13px;
        font-family: $helveticaFontStack;
        color: $colorWarmGray;
    }
    
    @include at-query( null, $postSmall, $preLarge){
        td {
            width: 50%;
            float: left;
            padding-right: 10px;
        }
    }

    @include at-query( $max, $small ){
        td {
            background: white;
            padding: ($gutter / 2) 0;
            position: relative;
            border: 0;
        }

        div.image {
            border-color: #f2f2f2 !important;
            width: 64px !important;
            height: 64px !important;
            max-height: none;
            margin-right: $gutter;
            position: absolute;
            left: 0;
            top: $gutter / 2;
        }

        div.details {
            width: 100%;
            padding: $gutter/2 $gutter $gutter/2 (64px + $gutter);
            margin: 0;
        }

        h3 {
            line-height: 1.2;
            font-size: 15px;
            color: #4d4c4c;
            margin-bottom: 0;
            padding: 0;
        }

        span {
            line-height: 1.2;
            padding: 0;
        }
    }
}

/* Product title color */

/* Product variant and price color */

.slim #overview {
    display: none;
}




/*================ #Checkout Form ================*/

#container {
    input[type="text"],
    input[type="search"],
    input[type="password"],
    input[type="email"],
    input[type="file"],
    input[type="number"],
    input[type="tel"],
    input[type="submit"],
    select,
    textarea {
        font-size: 16px;
        width: 100%;
        font-weight: 400;
        color: $colorWarmGray;
        background-color: $colorPaleGray;
        padding: 10px $gutter 6px;
        margin-top: 0;
    }
}

table.form {
    width: 100%;
    display: block;

    tbody, tr {
        display: block;
    }

    tr td {
        @extend .clearfix;

        display: block;
        width: 100% !important;
        max-width: none !important;
        padding: 0;

        &.lbl {
            width: 100%;
        }
    }

    td + td {
        margin-bottom: $gutter;
    }

    label {

        &[for="billing_address_company"]:after {
            content: ' (optional)';
            font-weight: 400;
        }
    }

    

    ul.inline {
        li {
            float: none !important;
            width: 100% !important;
            margin: 0 !important;
            overflow: hidden;
            height: 1%;
            padding: 0 0 16px;
        }

        select, input {
            width: 100% !important;
        }
    }

    .multiple_address_selection {
        margin-bottom: $gutter;

    }

    @include at-query( $max, $small ){
        padding: 0;

        select {
            width: 100% !important;
        }
    }
}


.form .inline select {
    float: left;
}

/* Form Errors */

.field-with-errors {}

/* Billing/Shipping Addresses */

#addresses {
    position: relative;
    overflow: hidden;
    height: 1%;
    margin: 0 0 20px;
    padding: 0;
    background: none;

    .gleft,
    .gright {
        width: 50%;
        padding: 0;
        margin: 0;
        float: left;
    }

    .gleft {
        padding-right: 10px;
    }

    .gright {
        padding-left: 10px;
    }

    @include at-query( $max, $preLarge ){
        .gleft,
        .gright {
            float: none;
            width: 100%;
        }
        .gleft {
            margin-bottom: 20px;
        }
 
        .gright,
        .gleft {
            padding: 0;
       }
    }
}

#billing_address_phone,
#shipping_address_phone {
    margin: 0 0 10px 0;

    @include at-query( $max, $small ){
        width: 100% !important;
    }
}

#shipping_span {
    padding-top: 8px;
}

#billing-is-shipping td {
    border: solid 1px #ccc;
    padding: ($gutter / 2);

    label {
        display: inline;
        font-size: 13px;
    }

    @include at-query( $max, $small ){
        background: none;
        @include prefix( 'border-radius', 0 );
        text-align: center;
        height: auto;

        input {
            margin: 0 $gutter 0 0;
            float: none;
        }

        label {
            line-height: 1;
            padding-top: 3px !important;
            display: inline-block;
            margin: 0;
        }
    }
}

#addresses #shipping-same.address-notification {
    padding: $gutter;
    text-align: left;
    border: 1px solid $colorLightGray;
    background-color: #fff;
}

@include at-query( $max, $large ){
// @media only screen and (max-width: 1000px) {
    .form .inline label {
        width: 100px;
    }
}

/*================ #Step 2 - Paying for your order ================*/

.sst .gleft {
    width: 40%;
}

#credit-card-info {
    float: left;
    width: 60%;
    margin: 0;
    table {
        width: 100%;
    }
}

#container #credit_card_verification_value {
    width: auto;
}

#marketing-box {
    label {
        display: inline;
    }
}

@include at-query( $max, $medium ){
// @media only screen and (max-width: 646px) {
    .sst .gleft, #credit-card-info {
        width: 100%;
        float: none;
        padding: 0;
    }

    #payment-methods {
        margin-bottom: 5px;
        
        li {
            margin: $gutter 0;
            @include prefix( 'border-radius', 0 );
            background: none;
            height: auto;
        }
    }
}


/*================ #Buttons ================*/

#buttons {
    clear: both;
    border: 0 none;
    word-spacing: 1em;
    a {
        word-spacing: normal;
    }
}

#cancel-purchase {
    font-size: 16px;
    font-style: italic;
    display: block;
    margin: $gutter 0;
    text-align: center;
    color: $colorLightGray;

    a {
        @extend %gray-hover-underline-link;
        @extend %rsaquo;

        font-style: normal;
    }
}

#buttons {
    margin-top: $gutter;
    padding: 0;
    background: none;

    #commit-button,
    #complete-purchase {
        @extend %large-gold-button;
        @include prefix( 'border-radius', 0 );

        display: block;
        outline: 1px solid $colorGold;
        margin: 2px auto;
        border: 2px solid white;
        text-transform: none;
        width: 320px !important;
    }

    @include at-query( $max, $small ){
        padding: 0 2px;

        #commit-button,
        #complete-purchase {
            font-size: 18px;
            height: 44px;
            padding-top: 2px;
        }
    }
}

input[type="submit"] {
    display: inline-block;
    padding: 8px 20px;
    margin: 0;
    line-height: 1.42;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    border-radius: 2px;
    text-transform: uppercase;
}

#buttons {
    #commit-button:hover, #complete-purchase:hover {
        opacity: 0.8;
    }
    #commit-button:active, #complete-purchase:active {
        opacity: 1;
    }
}

/*============================================================================
  container slim
  ============================================================================*/

#container.slim {
    #header {
        background-image: none;
    }

    #main {
        width: 430px;
        marign: 0;
        padding: 0;
        background: none;
    }

    #overview {
        display: none;
    }

    #content {
        width: auto;
        margin: 0;
        border: 0;
        padding: 0;
        text-align: center;

        p:first-child {
            font-size: 24px;
        }
    }

    #footer {
        background-image: none;
    }
}


/*================ #Footer ================*/

#footer {
    clear: both;
    padding: 15px 0;
}



%inline-list-base {
    ul, li {
        margin: 0;
    }

    li {
        display: inline-block;
        vertical-align: top;
    }
}


%social-hero-base {
    text-align: center;

    h2 {
        letter-spacing: -1px;
    }

    @include at-query( $min, $postSmall ){
        h2 {
            margin: 0 0 $gutter;
        }
    }

    @include at-query( $max, $small ){
        h2 {
            font-size: 35px;
            margin-bottom: $gutter * 2;
        }
    }
}

.social-link-hero {
    @extend %social-hero-base;

    h2 {
        font-size: 3em;
        border-bottom: 0;
    }
}

.social-link-block {
    @extend %inline-list-base;

    ul {
        padding-left: 0;
        text-align: center;
    }

    a {
        position: relative;
        display: block;
        text-decoration: none;

        [class$='-icon'] {
            height: 100%;
            width: 100%;
            border-color: $colorMidGray;
            color: $colorMidGray;
            transition: all 0.3s;

            &:hover {
                @include prefix('transform', 'scale( 1.1 )');

                color: $colorGold;
                border-color: $colorGold;
            }
        }
    }

    li {
        margin: 0 6px;
    }

    @include at-query( $min, $postSmall ){
        a {
            $desktopCircumfrence: 3.375em;

            height: $desktopCircumfrence;
            width: $desktopCircumfrence;
        }        
    }

    @include at-query( $max, $small ){
        margin: 0 8px;

        a {
            $smallCircumfrence: 2.66em;

            height: $smallCircumfrence;
            width: $smallCircumfrence;
        }
    }
}


$iconSelector: '[class^="icon-"], [class*=" icon-"]';
#{$iconSelector},
%icon-base {

    .icon-fallback-text & {
        display: none;

        .supports-fontface & {
            display: inline-block;
        }
    }

    &:before {

        display: inline;
        font-family: $socialIconFontStack;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.icon-box-checked:before {
    content: "\f046";
}

.icon-box-unchecked:before {
    content: "\f096";
}

.icon-menu:before {
    content: "\e60c";
}

.icon-telephone-handset:before {
    content: "\e600";
}

.icon-map-pin:before {
    content: "\e601";
}

.icon-stamp:before {
    content: "\e602";
}

.icon-arrow-right-solid:before {
    content: "\e603";
}

.icon-facebook-f:before {
    content: "\e604";
}

.icon-instagram:before {
    content: "\e605";
}

.icon-pinterest-p:before {
    content: "\e606";
}

.icon-arrow-right-xlarge:before {
    content: "\e607";
}

.icon-arrow-left-xlarge:before {
    content: "\e608";
}

.icon-search:before {
    content: "\e609";
}

.icon-store:before {
    content: "\e60a";
}

.icon-safe:before {
    content: "\e60b";
}

.icon-fancy:before {
    content: "\46";
}

.icon-twitter:before {
    content: "\54";
}

.icon-facebook:before {
    content: "\66";
}

.icon-pinterest:before {
    content: "\70";
}

.icon-tumblr:before {
    content: "\74";
}

.icon-vimeo:before {
    content: "\76";
}

.icon-youtube:before {
    content: "\79";
}

.icon-gift:before {
    content: "\e60e";
}

.icon-calendar:before {
    content: "\e60f";
}

.icon-arrow-left-curved:before {
    content: "\e610";
}

.icon-arrow-right-curved:before {
    content: "\e611";
}

.icon-cross:before {
    content: "\e612";
}

.icon-cross-circle:before {
    content: "\e613";
}

.icon-info:before {
    content: "\e614";
}

.icon-info-circle:before {
    content: "\e615";
}

.icon-arrow-left:before {
    content: "\e616";
}

.icon-arrow-down:before {
    content: "\e617";
}

.icon-arrow-up:before {
    content: "\e618";
}

.icon-arrow-right:before {
    content: "\e619";
}

.icon-arrow-left-small:before {
    content: "\e61a";
}

.icon-arrow-down-small:before {
    content: "\e61b";
}

.icon-arrow-up-small:before {
    content: "\e61c";
}

.icon-arrow-right-small:before {
    content: "\e61d";
}

.icon-arrow-left-large:before {
    content: "\e61e";
}

.icon-arrow-down-large:before {
    content: "\e61f";
}

.icon-arrow-up-large:before {
    content: "\e620";
}

.icon-arrow-right-large:before {
    content: "\e621";
}


$smallSocialIconRatio: (2.66/3.375);

@mixin socialIconResponsiveSizes( $iconSize, $paddingTop, $paddingRight: false, $paddingLeft: false ){
    @include at-query( $min, $postSmall ){
        padding-top: $paddingTop;

        @if $paddingRight {
            padding-right: $paddingRight;
        }

        @if $paddingLeft {
            padding-left: $paddingLeft;
        }

        &:before {
            font-size: $iconSize
        }
    }

    @include at-query( $max, $small ){
        padding-top: $paddingTop * $smallSocialIconRatio;
        @if $paddingRight {
            padding-right: $paddingRight * $smallSocialIconRatio;
        }

        @if $paddingLeft {
            padding-left: $paddingLeft * $smallSocialIconRatio;
        }

        &:before {
            font-size: $iconSize * $smallSocialIconRatio;
        }
    }
}

%social-icon-base {
    @extend %icon-base;

    position: absolute;
    border-style: solid;
    text-align: center;

    @include at-query( $min, $postSmall ){
        $desktopCircumfrence: 3.375em;

        @include prefix( 'border-radius', $desktopCircumfrence / 2 );

        height: $desktopCircumfrence;
        width: $desktopCircumfrence;
        border-width: 0.15626em;
    }

    @include at-query( $max, $small ){
        $smallCircumfrence: 2.66em;

        @include prefix( 'border-radius', $smallCircumfrence / 2 );

        height: $smallCircumfrence;
        width: $smallCircumfrence;
        border-width: 0.125em;
    }
}


.pinterest-icon {
    @extend %social-icon-base;
    @extend .icon-pinterest-p;

    @include socialIconResponsiveSizes( $iconSize: 2.5em, $paddingTop: 0.625em, $paddingRight: 0.125em );
}

.twitter-icon {
    @extend %social-icon-base;
    @extend .icon-twitter;

    @include socialIconResponsiveSizes( $iconSize: 1.9375em, $paddingTop: 0.5em, $paddingLeft: 0.125em );
}

.instagram-icon {
    @extend %social-icon-base;
    @extend .icon-instagram;

    @include socialIconResponsiveSizes( $iconSize: 1.5625em, $paddingTop: 0.75em );
}

.tumblr-icon {
    @extend %social-icon-base;
    @extend .icon-tumblr;

    @include socialIconResponsiveSizes( $iconSize: 2.0625em, $paddingTop: 0.375em, $paddingLeft: 0.0625em );
}

.facebook-icon {
    @extend %social-icon-base;
    @extend .icon-facebook-f;

    @include socialIconResponsiveSizes( $iconSize: 2.125em, $paddingTop: 0.4375em, $paddingRight: 0.0625em );
}
