{% assign top-level-layout = 'theme' %}<!doctype html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
  <head>

    {% include 'html-head-common' %}

    <!-- Header hook for plugins ================================================== -->
    {{ content_for_header }}

    {% include 'html-head-scripts' %}

  </head>

  {% comment %}
  Add the page template as a class for easy page or template specific styling.
  {% endcomment %}
  <body {% include 'html-body-attributes' %}>

    <header class="site-header" role="banner">

      <div class="wrapper">

        <div class="logo-column">
          {% include 'site-logo' %}
        </div>

        <div class="menu-column">
          {% include 'main-menu' %}
        </div>

        <div class="customer-column">
          {% comment %}
          If customer accounts are enabled, provide login and create account links
          {% endcomment %}
          {% if shop.customer_accounts_enabled %}
            {% include 'customer-profile-link' %}
          {% endif %}

          {% include 'cart-count-link' %}
        </div>

        <div class="search-column">
          {% include 'search-bar' %}
        </div>

      </div>
    </header>

    <main class="wrapper main-content" role="main">

      {{ content_for_layout }}

    </main>

    {% include 'footer' %}

    {% include 'html-footer-scripts' %}

  </body>
</html>
