/*============================================================================
  #Forms
  ==============================================================================*/
form {
    margin-bottom: $gutter;
}

button,
input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
input[type="file"],
input[type="number"],
input[type="tel"],
input[type="submit"],
select,
textarea {
    @include prefix( 'border-radius', 0 ); /* resets the user agent border radius in webkit*/
    -webkit-appearance: none;
    -moz-appearance: none;

    &:focus {
        outline: none;
    }
}

input,
textarea,
select,
fieldset {
    max-width: 100%;

    &.input-full {
        width: 100%;
    }
}

fieldset {
    padding: $gutter/2 0;
}

input {
    display: inline-block;
    width: auto;
}

button,
input[type="submit"] {
    cursor: pointer;
}

input[type="submit"] {
    @extend .btn;
}

/*================ Input width  ================*/
input[type="text"],
input[type="password"],
input[type="email"],
input[type="file"],
input[type="number"],
input[type="tel"],
textarea,
select {
    width: 100%;
    max-width: 100%;
    display: block;
    margin-bottom: 22px;
    border: 1px solid $colorWarmLightGray;
    background-color: $colorPaleGray;
    padding: ( $gutter / 2 ) $gutter;
    line-height: 1.625;

    &:last-child {
        margin-bottom: 0;
    }
 
    &:focus {

    }

    &[disabled],
    &.disabled {
        cursor: default;
        background-color: $disabledGrey;
        border-color: $disabledBorder;
    }
}

input.half {
    width: 49%;
    margin-right: 2%;
    float: left;

    & + input.half {
        margin-right: 0;
    }
}


textarea {
    min-height: 100px;
}

/* custom checkboxs and radios */

input[type="checkbox"],
input[type="radio"] {
    display: inline;
    margin: 0;

    /* position labels following to be inline */
    & + label {
        display: inline-block;
        font-size: 16px;
        text-transform: none;
        font-family: $helveticaFontStack;
        color: $colorWarmGray;
    }
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: {
        image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iNy43cHgiIGhlaWdodD0iNC4zcHgiIHZpZXdCb3g9IjAgMCA3LjcgNC4zIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA3LjcgNC4zIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiM5OTk5OTkiIGQ9Ik03LjEsMC4xQzYuNywwLjUsMy45LDMuMiwzLjksMy4yUzEsMC41LDAuNiwwLjFTMCwwLjcsMCwwLjdsMy45LDMuNmwzLjgtMy42QzcuNywwLjcsNy41LTAuMyw3LjEsMC4xeiIvPg0KPC9zdmc+DQo="); // svg base64 encoded arrow
        repeat: no-repeat;
        position: right 10px center;
        color: #fff;
    }
    padding-right: 28px;
    text-indent: 0.01px;
    text-overflow: '';

    /*================ Hide the svg arrow in IE9 and below ================*/
    .ie9 &,
    .lt-ie9 & {
        padding-right: 10px;
        background-image: none;
    }
}

select::-ms-expand {
    display: none;
}

/*================ Form labels ================*/
label,
legend {
    @extend %smallish-arial-text;

    display: block;
    margin: ($gutter / 2 ) 0 10px;
    font-weight: 700;
    text-transform: uppercase;
    color: $colorWarmLightGray;
    line-height: 1;

    .meta {
        font-weight: 400;
    }

    &.inline {
        display: inline;
    }

    .form-horizontal &.hidden-label,
    &.hidden-label {
        height: 0;
        width: 0;
        margin-bottom: 0;
        overflow: hidden;

        .ie9 &,
        .lt-ie9 & {
            height: auto;
            margin-bottom: 2px;
            overflow: visible;
        }
    }
}

/*================ We don't want the same label treatment for checkboxes/radios ================*/
input[type="checkbox"] + label,
input[type="radio"] + label {
    font-weight: normal;
}

label[for] {
    cursor: pointer;
}

.label-hint {
    color: #999;
}

/*================ Horizontal Form ================*/
form.form-horizontal,
.form-horizontal {
    margin-bottom: 0;

    input[type="text"],
    input[type="search"],
    input[type="password"],
    input[type="email"],
    input[type="file"],
    input[type="number"],
    input[type="tel"],
    textarea,
    select,
    label {
        display: inline-block;
        margin-bottom: 0;
        width: auto;
    }
}

/*================ Error styles ================*/
input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
input[type="file"],
input[type="number"],
input[type="tel"],
textarea {
    &.error {
        border-color: $errorRed;
        background-color: $errorRedBg;
        color: $errorRed;
    }
}

label.error {
    color: $errorRed;
}


/*================ Input Group ================*/
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;

    input {
        // Nasty Firefox hack for inputs http://davidwalsh.name/firefox-buttons
        &::-moz-focus-inner {
            border: 0;
            padding: 0;
            margin-top: -1px;
            margin-bottom: -1px;
        }
    }
}

.input-group-field,
.input-group-btn {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
}

.input-group .btn,
.input-group .input-group-field {
    height: 37px;
}

.input-group .input-group-field {
    width: 100%;
    margin-bottom: 0;
}

.input-group-btn {
    position: relative;
    white-space: nowrap;
    width: 1%;
    padding: 0;
}

.form-spacer {
    margin: 0 $gutter/2;
}



/*================================================================================
  #Extends - these are for common text and block styles
  ================================================================================*/

%medium-arial-text {
    font-family: $arialFontStack;

    @include at-query ($min, $postSmall) {
        font-size: 1.125em; /* ~18px */
    }

    @include at-query ($max, $small) {
        font-size: 0.9375em; /* ~15px */
    }
}

%small-mid-arial-text {
    font-family: $arialFontStack;

    @include at-query ($min, $postSmall) {
        font-size: 0.875em; /* ~14px */
    }

    @include at-query ($max, $small) {
        font-size: 0.8125em; /* ~13px */
    }
}    

%small-arial-text {
    font-family: $arialFontStack;
    font-weight: 700;

    @include at-query ($min, $postSmall) {
        font-size: 0.8125em; /* ~13px */
    }

    @include at-query ($max, $small) {
        font-size: 0.625em; /* ~10px */
    }
}    

%smallish-arial-text {
    font-family: $arialFontStack;
    font-weight: 700;

    font-size: 0.75em; /* ~12px */
}    

%smaller-arial-text {
    font-family: $arialFontStack;
    font-weight: 700;

    @include at-query ($min, $postSmall) {
        font-size: 0.6875em; /* ~11px */
    }

    @include at-query ($max, $small) {
        font-size: 0.6875em; /* ~11px */
    }
}

%medium-helvetica-text {
    font-family: $helveticaFontStack;

    @include at-query ($min, $postSmall) {
        font-size: 1.25em; /* ~20px */
    }

    @include at-query ($max, $small) {
        font-size: 0.9375em; /* ~15px */
    }
}

%small-helvetica-text {
    font-family: $helveticaFontStack;

    @include at-query ($min, $postSmall) {
        font-size: 1.125em; /* ~18px */
    }

    @include at-query ($max, $small) {
        font-size: 0.9375em; /* ~15px */
    }
}

%smaller-helvetica-text {
    font-family: $helveticaFontStack;

    @include at-query ($min, $postSmall) {
        font-size: 0.875em; /* ~14px */
    }

    @include at-query ($max, $small) {
        font-size: 0.78125em; /* ~12.5px */
    }
}

%smallest-helvetica-text {
    font-family: $helveticaFontStack;

    @include at-query ($min, $postSmall) {
        font-size: 0.75em; /* ~12px */
    }

    @include at-query ($max, $small) {
        font-size: 0.75em; /* ~12px */
    }
}


%character-prefix-suffix-base {
    display: inline-block;
    position: relative;
}

%character-prefix-base {
    &:before {
        @extend %character-prefix-suffix-base;
        padding-right: 3px;
    }
}

%character-suffix-base {
    &:after {
        @extend %character-prefix-suffix-base;
        padding-left: 3px;
    }
}

%lsaquo-prefix {
    @extend %character-prefix-base;

    &:before {
        content: '\2039';
    }
}

%rsaquo {
    @extend %character-suffix-base;

    &:after {
        content: '\203a';
    }
}

%rdaquo {
    @extend %character-suffix-base;

    &:after {
        content: '\BB';
    }
}

%link-base {
    white-space: nowrap;
}

%base-link {
    text-decoration: none;
    white-space: nowrap;
    color: $colorGray;

    &:hover,
    &:active,
    &:focus {
        color: $colorGold;
    }
}

/* link text styles */

/* gray link base */

/* gray, gold on hover */
%gray-hover-gold-link {
    @extend %link-base;

    color: $colorGray;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
        color: $colorGold;
    }
}

/* gray, gold on hover */
%warmGray-hover-underline-link {
    @extend %link-base;

    color: $colorWarmGray;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
        text-decoration: underline;
    }
}

%warmGray-underline-hover-gold-link {
    @extend %link-base;

    color: $colorWarmGray;

    &:hover,
    &:active,
    &:focus {
        color: $colorGold;
    }
}

/* gray, gold on hover */
%warmLightGray-hover-gold-link {
    @extend %link-base;

    color: $colorWarmLightGray;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
        color: $colorGold;
    }
}



/* gray, gold and underline on hover */
%gray-hover-gold-underline-link {
    @extend %link-base;

    color: $colorGray;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
        text-decoration: underline;
        color: $colorGold;
    }
}

/* gray, underline on hover */
%gray-hover-underline-link {
    @extend %link-base;

    color: $colorGray;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
        text-decoration: underline;
    }
}


/* gray underline, gold on hover */
%gray-underline-hover-gold-link {
    @extend %link-base;

    color: $colorGray;
    text-decoration: underline;

    &:hover,
    &:active,
    &:focus {
        color: $colorGold;
    }
}

/* gold, underline on hover */
%gold-hover-underline-link {
    @extend %link-base;

    color: $colorGold;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
        text-decoration: underline;
    }
}

/* white, gray on hover */
%white-hover-gray-link {
    @extend %link-base;
    @include prefix('transition', 'all 0.4s ease');

    color: #fff;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
        color: $colorWarmGrayDark;
    }
}

/* white, gray on hover */
%white-underline-hover-gold-link {
    @extend %link-base;

    color: #fff;

    &:hover,
    &:active,
    &:focus {
        color: $colorGold;
    }
}


/*============================================================================
  #Links and Buttons
  ==============================================================================*/

%button-base {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: #fff;

    > * {
        line-height: 1;
    }

    &:active,
    &:focus {

    }

    &[disabled],
    &.disabled {
        cursor: default;
    }
}

%extra-large-button-base {
    height: 64px;
    padding: 12px ( $gutter * 1.25 ) 0;
    font-size: 1.5em;
    line-height: 1;
    font-weight: 400;
    font-family: $helveticaFontStack;
}

%large-button-base {
    height: 50px;
    padding: 6px $gutter 0;
    font-size: 1.5625em;
    font-weight: 300;
    font-family: $helveticaFontStack;
}

%medium-button-base {
    height: 44px;
    padding: 4px $gutter;
    line-height: 36px;

    font-size: 1.125em;
    font-weight: 400;
    font-family: $helveticaFontStack;
}

%small-button-base {
    @extend %smallish-arial-text;

    line-height: 1.2;
    height: 30px;
    padding: 5px 12px 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
}


%gold-button-base {
    @extend %gold-outline-block-small;
}

%gray-button-base {
    @extend %gray-outline-block-small;
}

%lightGray-button-base {

}

/* gold, small button */
%small-gold-button {
    @extend %button-base;
    @extend %small-button-base;
    @extend %gold-button-base;
}


/* gray, medium button */
%medium-gray-button {
    @extend %button-base;
    @extend %medium-button-base;
    @extend %gray-button-base;
}

/* gray, small button */
%small-gray-button {
    @extend %button-base;
    @extend %small-button-base;
    @extend %gray-button-base;

    padding-top: 2px;
}

/* large gold button */
%large-gold-button {
    @extend %button-base;    
    @extend %large-button-base;
    @extend %gold-button-base;
}

/* extra large gold button */
%extra-large-gold-button {
    @extend %button-base;    
    @extend %extra-large-button-base;
    @extend %gold-button-base;
}

/* Logos */
%logo-base {
    text-align: center;
    margin: 0;

    a,
    a:hover,
    a:focus {
        text-decoration: none;
    }

    a, img {
        display: block;
    }

    img {
        margin: 0 auto;
        height: 100%;
        width: 100%;
    }

    /* Fallback .png support for IE8 */
    [src*=".svg"] {
        display: none;
    }

    .supports-svg & {
        [src*=".png"] {
            display: none;
        }

        [src*=".svg"] {
            display: block;
        }
    }
}

%outline-block-base {
    position: relative;
    z-index: 0;

    /* outer border */
    border-style: solid;

    /* inner border */
    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        border-style: solid;
        border-color: #fff;
    }
}

%gold-outline-block-base {
    @extend %outline-block-base;

    background: $colorGold;

    /* outer border */
    border-color: $colorGold;
}

%gray-outline-block-base {
    @extend %outline-block-base;

    background: $colorGray;

    /* outer border */
    border-color: $colorGray;
}

@mixin outlineBlockBorderWidths( $innerWidth, $outerWidth ){
    /* outer border */
    border-width: $outerWidth + $innerWidth;

    /* inner border */
    &:before {
        top: -$innerWidth;
        right: -$innerWidth;
        bottom: -$innerWidth;
        left: -$innerWidth;
        border-width: $innerWidth;
    }
}

%gold-outline-block-large {
    @extend %gold-outline-block-base;
    @include outlineBlockBorderWidths( 5px, 2px );
}

%gold-outline-block-small {
    @extend %gold-outline-block-base;
    @include outlineBlockBorderWidths( 1px, 1px );
}

%gray-outline-block-small {
    @extend %gray-outline-block-base;
    @include outlineBlockBorderWidths( 1px, 1px );
}

%darkGray-outline-block-medium {
    @extend %outline-block-base;
    @include outlineBlockBorderWidths( 2px, 1px );
}
