{% layout 'simplified' %}

<div class="hero-404">
  <div>4<span>0</span>4</div>
</div>

<div class="page-content">
  <h2>Sorry, no dress here.</h2>
  <p>The page you were looking for has not been found.</p>
</div>

