{% layout 'simplified' %}

<div class="hero-404">
  <div class="hero-404__overlay">4<span>0</span>4</div>
</div>

<h2>Sorry, no dress here.</h2>
<p>The page you were looking for has not been found.</p>
