{% comment %}

This page template is a requirement if you are submitting your theme to the Shopify Theme Store.
Be sure to select page.contact as the template from the admin page to have this template take effect.

For information on adding more fields, visit:
- http://docs.shopify.com/support/configuration/store-customization/adding-fields-to-the-liquid-contact-form

{% endcomment %}

<div class="about-page-hero">
  <div class="wrapper">
    <div class="content">

      <h2>Theia.</h2>
      <h3>Behind the scenes.</h3>

    </div>
  </div>
</div>

<div class="content-hero">
  <header class="wrapper-8-col">

    <h2>The godess Theia.</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>

  </header>
  <div class="wrapper-10-col">
    <div class="row-2-col">
      <div class="col">

        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
        <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
        </p>
        <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.
        </p>

      </div>
      <div class="vr"></div>
      <div class="col">

        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
        </p>
        <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
        </p>

      </div>
    </div>
  </div>
</div>

<div class="carousel-hero">
  <div class="wrapper">
    <div class="content">

      <div class="carousel">

        <div class="slide">
          <h2>Slide One</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
          <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
          <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.</p>
        </div>
        <div class="slide">
          <h2>2nd Slide</h2>
        </div>
        <div class="slide">
          <h2>Slide #3</h2>
        </div>

      </div>
      <div class="carousel-nav"></div>

    </div>

    {{ 'don-profile.jpg' | asset_url | img_tag }}

  </div>
</div>

<div class="content-hero">
  <div class="wrapper-10-col">

    <header class="wrapper-8-col">
      <h2>Going forward</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
    </header>

    <div class="row-2-col">
      <div class="col">
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
        <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>
      </div>
      <div class="vr"></div>
      <div class="col">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.</p>
      </div>
    </div>
  </div>
</div>

<hr class="hr-4-col"/>

{% include 'featured-press-hero' %}
